/*************** Setup ****************/
:root{
    font-size: 62.5%;
    
    --ff-lora: 'Lora', serif;
    --ff-ubuntu: 'Ubuntu', sans-serif;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}

/*********** Universal **************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********** NavBar ************/
header{
    padding: 3em 0;
    background-color: #F8F6F8;
}
.container-nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.nav-logo h2{
    font-size: 2.5rem;
    font-family: var(--ff-lora);
    font-weight: var(--fw-regular);
}
.nav-logo p{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #1475B2;
    font-family: var(--ff-ubuntu);
    font-weight: var(--fw-bold);
}
.nav-items{
    display: flex;
    align-items: center;
}
.nav-items ul{
    display: flex;
    align-items: center;
}
.nav-items ul li{
    list-style-type: none;
    margin-left: 30px;
}
.nav-items ul li a{
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #605F60;
    font-family: var(--ff-ubuntu);
    font-weight: var(--fw-bold);
}
.nav-items ul li a:hover,
.nav-items ul li a:focus{
    color: #1475B2;
}

@media screen and (max-width: 820px){
    .container-nav{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .nav-items ul li{
        margin: 0px 15px;
    }
}


/************* Middle Section ****************/
.container-mid{
    width: 60%;
    padding: 30px 0;
    margin: 0px auto;
    display: flex;
    gap: 30px;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 68%;
}
.article-image{
    width: 100%;
}
.article-image img{
    width: 100%;
    height: 20.7rem;
    object-fit: cover;
}
.main .article-date{
    display: block;
    color: #707070;
    font-size: 1.3rem;
    padding: 1em 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.article-heading{
    color: #143774;
    font-family: var(--ff-lora);
    font-size: 2.1rem;
    font-weight: var(--fw-medium);
}
.article-paragraph{
    color: #707070;
    font-size: 1.5rem;
    padding: 20px 0;
    font-family: var(--ff-ubuntu);
    font-weight: var(--fw-regular);
    letter-spacing: 0.02em;
    line-height: 1.4em;
}
.article-paragraph a{
    color: #1792D2;
}
.article-link{
    color: #1792D2;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: var(--fw-bold);
    font-family: var(--ff-ubuntu);
    font-size: 1.2rem;
    letter-spacing: 0.2em;
}
.article-recent{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.article-recent .article-first{
    flex-basis: 30%;
}
.article-recent .article-second{
    flex-basis: 70%;
}
.article-recent:nth-last-child(1) .article-first img{
    object-position: -10px 0px;
}


/************* Side Bar **************/
aside{
    flex-basis: 32%;
}
.sidebar{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.sidebar-widget{
    border: 1.5rem solid #EBEBEB;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.sidebar-title{
    text-transform: uppercase;
    color: #143774;
    font-size: 2rem;
    font-weight: var(--fw-bold);
    font-family: var(--ff-ubuntu);
    letter-spacing: 0.2em;
}
.sidebar-image{
    width: 100%;
}
.sidebar-image img{
    width: 100%;
    height: 170px;
    object-fit: cover;
}
.sidebar-desc{
    font-size: 1.6rem;
    color: #143774;
    line-height: 1.3em;
    font-weight: var(--fw-regular);
    font-family: var(--ff-ubuntu);
}
.sidebar-recent-posts{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.sidebar-recent-posts .sidebar-recent-image{
    width: 100%;
}
.sidebar-recent-image img{
    width: 100%;
    height: 110px;
    object-fit: cover;
}
.sidebar-recent-heading{
    color: #143774;
    font-weight: var(--fw-regular);
    font-size: 1.8rem;
    font-family: var(--ff-lora);
}
div[class ^= "sidebar-recent-post"]{
    display: flex;
    flex-direction: column;
    gap: 10px;
}