/*************** Setup ****************/
:root{
    font-size: 62.5%;
    
    --ff-lora: 'Lora', serif;
    --ff-ubuntu: 'Ubuntu', sans-serif;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}

/*********** Universal **************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********** NavBar ************/